# Verifying Seebuoy data for NDBC on Station 44150

In [189]:
pip install seebuoy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seebuoy in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (0.2.2)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.3 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from seebuoy) (4.12.2)
Requirement already satisfied: lxml<5.0.0,>=4.9.1 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from seebuoy) (4.9.4)
Requirement already satisfied: pandas<2.0.0,>=1.1.2 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from seebuoy) (1.5.3)
Requirement already satisfied: requests<3.0.0,>=2.24.0 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from seebuoy) (2.31.0)
Requirement already satisfied: scikit-learn<2.0.0,>=1.1.3 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from seebuoy) (1.3.2)
Requirement already satisfied: soupsieve>1.2 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4<5.0.0,>=4.9.3->seebuoy) (2.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from pandas<2.0.0,>=1.1.2->seebuoy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from pandas<2.0.0,>=1.1.2->seebuoy) (2023.3.post1)
Requirement already satisfied: numpy>=1.20.3 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from pandas<2.0.0,>=1.1.2->seebuoy) (1.26.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0,>=2.24.0->seebuoy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0,>=2.24.0->seebuoy) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0,>=2.24.0->seebuoy) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0,>=2.24.0->seebuoy) (2023.11.17)
Requirement already satisfied: scipy>=1.5.0 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from scikit-learn<2.0.0,>=1.1.3->seebuoy) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from scikit-learn<2.0.0,>=1.1.3->seebuoy) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/gabekrishnadasan/Library/Python/3.9/lib/python/site-packages (from scikit-learn<2.0.0,>=1.1.3->seebuoy) (3.2.0)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.1.2->seebuoy) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [190]:
from seebuoy import NDBC
import pandas as pd
import numpy as np

ndbc = NDBC()

# Information on NDBC's ~1800 buoys and gliders
wave_df = ndbc.stations()

# list all available data for all buoys
df_data = ndbc.available_data()

# Get info on La Jave Bank (42.500N 64.02W) 
# SEEBUOY DATA
station_id = "44065"
see_buoy = ndbc.get_data(station_id)
see_buoy

,wind_direction,wind_speed,wind_gust,wave_height,dominant_period,average_period,mean_wave_direction,pressure,air_temp,water_temp,dewpoint,visibility,pressure_tendency,tide
date,,,,,,,,,,,,,,
2023-12-22 00:00:00,NaN,11.0,13.0,NaN,NaN,NaN,NaN,1028.4,NaN,10.0,NaN,NaN,0.6,NaN
2023-12-22 00:10:00,NaN,11.0,13.0,NaN,NaN,NaN,NaN,1028.4,NaN,10.0,NaN,NaN,NaN,NaN
2023-12-22 00:20:00,NaN,11.0,14.0,1.2,11.0,4.3,119.0,1028.4,NaN,10.0,NaN,NaN,NaN,NaN
2023-12-22 00:30:00,NaN,11.0,14.0,NaN,NaN,NaN,NaN,1028.5,NaN,10.0,NaN,NaN,NaN,NaN
2023-12-22 00:40:00,NaN,11.0,14.0,NaN,NaN,NaN,NaN,1028.7,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-05 22:00:00,NaN,9.0,11.0,NaN,NaN,NaN,NaN,1012.3,NaN,5.9,NaN,NaN,0.4,NaN
2024-02-05 22:10:00,NaN,9.0,12.0,1.1,NaN,5.1,106.0,1012.4,NaN,5.9,NaN,NaN,NaN,NaN
2024-02-05 22:20:00,NaN,9.0,10.0,1.1,11.0,5.1,106.0,1012.6,NaN,5.9,NaN,NaN,NaN,NaN
2024-02-05 22:30:00,NaN,9.0,11.0,NaN,NaN,NaN,NaN,1012.9,NaN,5.9,NaN,NaN,NaN,NaN
2024-02-05 22:40:00,NaN,9.0,10.0,NaN,NaN,NaN,NaN,1012.9,NaN,5.9,NaN,NaN,NaN,NaN

In [191]:
#inverted everything so that it lines up with ndbc
see_buoy = see_buoy[::-1]

In [192]:
see_buoy

,wind_direction,wind_speed,wind_gust,wave_height,dominant_period,average_period,mean_wave_direction,pressure,air_temp,water_temp,dewpoint,visibility,pressure_tendency,tide
date,,,,,,,,,,,,,,
2024-02-05 22:40:00,NaN,9.0,10.0,NaN,NaN,NaN,NaN,1012.9,NaN,5.9,NaN,NaN,NaN,NaN
2024-02-05 22:30:00,NaN,9.0,11.0,NaN,NaN,NaN,NaN,1012.9,NaN,5.9,NaN,NaN,NaN,NaN
2024-02-05 22:20:00,NaN,9.0,10.0,1.1,11.0,5.1,106.0,1012.6,NaN,5.9,NaN,NaN,NaN,NaN
2024-02-05 22:10:00,NaN,9.0,12.0,1.1,NaN,5.1,106.0,1012.4,NaN,5.9,NaN,NaN,NaN,NaN
2024-02-05 22:00:00,NaN,9.0,11.0,NaN,NaN,NaN,NaN,1012.3,NaN,5.9,NaN,NaN,0.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22 00:40:00,NaN,11.0,14.0,NaN,NaN,NaN,NaN,1028.7,NaN,10.0,NaN,NaN,NaN,NaN
2023-12-22 00:30:00,NaN,11.0,14.0,NaN,NaN,NaN,NaN,1028.5,NaN,10.0,NaN,NaN,NaN,NaN
2023-12-22 00:20:00,NaN,11.0,14.0,1.2,11.0,4.3,119.0,1028.4,NaN,10.0,NaN,NaN,NaN,NaN
2023-12-22 00:10:00,NaN,11.0,13.0,NaN,NaN,NaN,NaN,1028.4,NaN,10.0,NaN,NaN,NaN,NaN
2023-12-22 00:00:00,NaN,11.0,13.0,NaN,NaN,NaN,NaN,1028.4,NaN,10.0,NaN,NaN,0.6,NaN

In [193]:
# NDBC TXT
# Define the width of each column based on the spacing in your data
column_widths = [4, 3, 3, 3, 3, 5, 5, 5, 6, 6, 5, 5, 7, 7, 5, 5, 6, 4, 6]

# Read the fixed-width file into a Pandas DataFrame
ndbc = pd.read_fwf("44065.txt", widths=column_widths, header=[0])
ndbc = ndbc.drop(labels=0, axis=0)
ndbc

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,PTDY,TIDE
1,2024,02,05,22,40,MM,9.0,10.0,MM,MM,MM,MM,1012.9,MM,5.9,MM,MM,MM,MM
2,2024,02,05,22,30,MM,9.0,11.0,MM,MM,MM,MM,1012.9,MM,5.9,MM,MM,MM,MM
3,2024,02,05,22,20,MM,9.0,10.0,1.1,11,5.1,106,1012.6,MM,5.9,MM,MM,MM,MM
4,2024,02,05,22,10,MM,9.0,12.0,1.1,MM,5.1,106,1012.4,MM,5.9,MM,MM,MM,MM
5,2024,02,05,22,00,MM,9.0,11.0,MM,MM,MM,MM,1012.3,MM,5.9,MM,MM,+0.4,MM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6379,2023,12,22,00,40,MM,11.0,14.0,MM,MM,MM,MM,1028.7,MM,10.0,MM,MM,MM,MM
6380,2023,12,22,00,30,MM,11.0,14.0,MM,MM,MM,MM,1028.5,MM,10.0,MM,MM,MM,MM
6381,2023,12,22,00,20,MM,11.0,14.0,1.2,11,4.3,119,1028.4,MM,10.0,MM,MM,MM,MM
6382,2023,12,22,00,10,MM,11.0,13.0,MM,MM,MM,MM,1028.4,MM,10.0,MM,MM,MM,MM
6383,2023,12,22,00,00,MM,11.0,13.0,MM,MM,MM,MM,1028.4,MM,10.0,MM,MM,+0.6,MM

In [194]:
# consolidate columns into one date column
ndbc['date'] = ndbc.apply(lambda row: f"{int(row['#YY'])}-{int(row['MM']):02d}-{int(row['DD']):02d} {int(row['hh']):02d}:{int(row['mm']):02d}:00", axis=1)

#ndbc = ndbc.drop(['#YY', 'MM', 'DD', 'hh', 'mm'], axis=1)

# replace columns with see_buoy column names
ndbc.rename(columns={'WDIR': 'wind_direction', 'WSPD': 'wind_speed', 'GST':'wind_gust', 'WVHT':'wave_height', 'DPD':'dominant_period',
                        'APD':'average_period', 'MWD':'mean_wave_direction', 'PRES':'pressure', 'ATMP':'air_temp', 'WTMP':'water_temp', 'DEWP':'dewpoint',
                        'VIS':'visibility', 'PTDY':'pressure_tendency', 'TIDE':'tide'}, inplace=True)

# replace MM with NaN
ndbc.replace('MM', np.nan, inplace=True)
ndbc

,#YY,MM,DD,hh,mm,wind_direction,wind_speed,wind_gust,wave_height,dominant_period,average_period,mean_wave_direction,pressure,air_temp,water_temp,dewpoint,visibility,pressure_tendency,tide,date
1,2024,02,05,22,40,NaN,9.0,10.0,NaN,NaN,NaN,NaN,1012.9,NaN,5.9,NaN,NaN,NaN,NaN,2024-02-05 22:40:00
2,2024,02,05,22,30,NaN,9.0,11.0,NaN,NaN,NaN,NaN,1012.9,NaN,5.9,NaN,NaN,NaN,NaN,2024-02-05 22:30:00
3,2024,02,05,22,20,NaN,9.0,10.0,1.1,11,5.1,106,1012.6,NaN,5.9,NaN,NaN,NaN,NaN,2024-02-05 22:20:00
4,2024,02,05,22,10,NaN,9.0,12.0,1.1,NaN,5.1,106,1012.4,NaN,5.9,NaN,NaN,NaN,NaN,2024-02-05 22:10:00
5,2024,02,05,22,00,NaN,9.0,11.0,NaN,NaN,NaN,NaN,1012.3,NaN,5.9,NaN,NaN,+0.4,NaN,2024-02-05 22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6379,2023,12,22,00,40,NaN,11.0,14.0,NaN,NaN,NaN,NaN,1028.7,NaN,10.0,NaN,NaN,NaN,NaN,2023-12-22 00:40:00
6380,2023,12,22,00,30,NaN,11.0,14.0,NaN,NaN,NaN,NaN,1028.5,NaN,10.0,NaN,NaN,NaN,NaN,2023-12-22 00:30:00
6381,2023,12,22,00,20,NaN,11.0,14.0,1.2,11,4.3,119,1028.4,NaN,10.0,NaN,NaN,NaN,NaN,2023-12-22 00:20:00
6382,2023,12,22,00,10,NaN,11.0,13.0,NaN,NaN,NaN,NaN,1028.4,NaN,10.0,NaN,NaN,NaN,NaN,2023-12-22 00:10:00
6383,2023,12,22,00,00,NaN,11.0,13.0,NaN,NaN,NaN,NaN,1028.4,NaN,10.0,NaN,NaN,+0.6,NaN,2023-12-22 00:00:00

In [195]:
see_buoy["wind_speed"]

date
2024-02-05 22:40:00     9.0
2024-02-05 22:30:00     9.0
2024-02-05 22:20:00     9.0
2024-02-05 22:10:00     9.0
2024-02-05 22:00:00     9.0
                       ...
2023-12-22 00:40:00    11.0
2023-12-22 00:30:00    11.0
2023-12-22 00:20:00    11.0
2023-12-22 00:10:00    11.0
2023-12-22 00:00:00    11.0
Name: wind_speed, Length: 6383, dtype: float64

In [196]:
ndbc["wind_speed"] = ndbc["wind_speed"].astype(float)

In [197]:
ndbc["wind_speed"]

1        9.0
2        9.0
3        9.0
4        9.0
5        9.0
        ...
6379    11.0
6380    11.0
6381    11.0
6382    11.0
6383    11.0
Name: wind_speed, Length: 6383, dtype: float64

In [198]:
see_buoy["wind_speed"].fillna(0.0, inplace=True)
ndbc["wind_speed"].fillna(0.0,inplace=True)

/var/folders/h0/y8r099r96cn6lxw_yr17bkq00000gn/T/ipykernel_98668/3846056500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  see_buoy["wind_speed"].fillna(0.0, inplace=True)

In [199]:
# verify the data is correct

see_buoy['wind_speed'].equals(ndbc['wind_speed'])  # Returns True

False

In [200]:
see_buoyList = []
ndbcList = []


for value in see_buoy['wind_speed']:
    see_buoyList.append(value)

for val in ndbc["wind_speed"]:
    ndbcList.append(val)

In [201]:
#Make sure the 44065.txt file is updated to the most recent data entry (ie redownload every so often)

for i in range(len(see_buoyList)):
    if see_buoyList[i] != ndbcList[i]:
        print(i)
        print("see_buoy ", see_buoyList[i])
        print("ndbc ", ndbcList[i])
        print()